:root .theme_dark {
  --main-font-family: "IBM Plex mono", monospace;
  --main-font-size: 18px;
  --regular-font-weight: 400;
  --bold-font-weight: 700;

  --main-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  --main-title-color: #db00ff;
  --main-text-color: #f1b2ce;
  --accent-text-color: #000028;
  --accent-color: #ff0070;
  --accent-bg-color: #ff0070;
  --accent-link-color: #ff0070;

  --hover-outline-color: rgba(255, 0, 112, 0.4);
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-font-family: "IBM Plex mono", monospace;
    --main-font-size: 18px;
    --regular-font-weight: 400;
    --bold-font-weight: 700;

    --main-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

    --main-title-color: #db00ff;
    --main-text-color: #f1b2ce;
    --accent-text-color: #000028;
    --accent-color: #ff0070;
    --accent-bg-color: #ff0070;
    --accent-link-color: #ff0070;

    --hover-outline-color: rgba(255, 0, 112, 0.4);
    --bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
  }
}

.page.theme_dark .decorated-element {
  display: flex;
}
